* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CSS DEL INDEX*/
/*CSS Menu de Navegacion*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0, 93, 84);
}
nav {
    background-color: rgb(254, 144, 195);
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}
nav ul li {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    font-size: 18px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: none;
}
nav ul li a:hover {
    color: rgb(0, 93, 84);
    text-transform: uppercase;
}
.logo {
    height: 64px;
    width: 64px;
}
.navbar-light .navbar-toggler {
    color: rgb(0,0,0);
    border-color: rgb(0,0,0);
}
.navbar-toggler:hover {
    text-decoration: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0;
}
/*CSS del MAIN*/
main {
    display: flex;
    background-color: rgb(157, 211, 226);
    flex-wrap: wrap;
}
section #contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1000px;
}
.titulo {
    margin: 20;
    padding: 20px;
    color: rgb(0, 93, 84);
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    text-align: bottom;
    align-items: center;
    justify-content: flex-end;
}
.div1,
.div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.imageni {
    justify-content: flex-start;
    width: 50%;
    /* height: 600px;
    background-image: url("/images/jesifondo.png");
    background-size: cover;*/
    /*Prueba de como seria con background-img*/
}
.descripcion {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 30px;
    font-size: 18px;
}
p {
    color: rgb(0,0,0,);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
    align-items: justify;
}
.div2 {
    flex-direction: row-reverse;
}
/* CSS DEL FOOTER*/
.copyright {
    font-size: 14px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    padding: 16px;
}
footer {
    background-color: rgb(254, 144, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}
.redes {
    display: flex;
    align-items: center;
}
.redes ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.redes ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: none;
    margin-top: 10px;
    
}
.logofooter {
    height: 35px;
    width: 35px;
}
/*CSS DE QUIEN SOY*/
div h1 {
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 93, 84);
}
.datospersonales {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1000px;
    margin: 10px auto auto;
}
/*.galeriaqs {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
    transition: all 0.5s;
    position: relative;
    border-radius: 5px;
}
.galeriaqs:hover {
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
    outline: solid 3px rgb(254, 144, 195);
}*/
div h2,
h3,
h4 {    
    font-weight: normal;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.escrito {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        color: rgb(0,0,0,);
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        text-align: justify;
        line-height: 1.4;
        align-items: justify;
}
.textoqs {
   margin: 10px;
   padding: 10px;
}
/*PORTFOLIO*/
.titulo {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 93, 84);
    margin-top: 25px;
    margin-bottom: 25px;
}
.imagenes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    /* max-width: 1000px; */
}
.galeria {
    width: 300px;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s;
    position: relative;
    margin: 20px;
}
.galeria:hover {
    filter: brightness(100%);
    transform: scale(1.2);
    z-index: 2;
}
/*CSS de SERVICIOS*/
.servicios {
    margin: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 93, 84);
}
.ser1,
.ser2,
.ser3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.imagen {
    justify-content: flex-start;
    width: 50%;
    
}
.descripcions {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 16px;
    font-size: 26px;
}
p {
    color: rgb(0,0,0,);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
    align-items: justify;
}
.ser2 {
    flex-direction: row-reverse;
}

/*CSS de CONTACTO*/
.contacto {
    background-color: rgb(0,93,84);
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    margin: 60px;
    flex-wrap: wrap;
}
.titulocontacto h1 {
    color: white;
    padding: 0;
    font-size: 60px;
}
.datos {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;
    
}
.datos1 {
    display: block;
}
.apellido,
.email,
.nombre,
.telefono,
.mensaje {
    margin-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
label {
    display: flex;
}
textarea {
    width: 250px;
    height: 100px;
    margin: 10px;   
}


fieldset {
    border: 5px solid rgb(241, 167, 1);
    padding: 30px;
    margin: 30px;
}
@media (max-width: 480px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imageni {
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 10px;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .descripcions {
        font-size: 20px;
        width: 70%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0px;
        
    }
    .descripcion {
        padding: 16px;
    }
    .galeriaqs {
        width: 250px;
        height: 250px;
    }
    .contacto {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
}
@media (max-width: 768px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 12px;
        justify-content: center;
       
    }
    .descripcion {
        width: 300%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .fondoPortfolio {
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0px;
    }
    .descripcion {
        padding: 16px;
    }
    .descripcions {
        font-size: 20px;
        width: 70%;
    }
    .galeriaqs {
        width: 60%;
        height: 60%;
    }
    .contacto {
        margin: 20px;
       justify-content: center;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 500px;
    }
}

/*PRUEBAS DE MQ*/

/*CSS GRID DE GALERIA
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'A' 'B' 'C' 'D' 'E';

}
img:nth-child(1) {
    grid-area: A;
}
img:nth-child(2) {
    grid-area: B;
}
img:nth-child(3) {
    grid-area: C;
}
img:nth-child(4) {
    grid-area: D;
}
img:nth-child(5) {
    grid-area: E;
}
img {
    width: 100%;
    height: auto;
}
.navgaleria {
    grid-area: nav;
}
.navgaleria ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
    margin-bottom: 40px;

}
.navgaleria ul li {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    font-size: 16px;
}
.navgaleria ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    font-style: none;
}
.footergaleria {
    grid-area: footer;
}
.copyrightgaleria {
    font-size: 10px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}*/
/*@media (min-width: 768px) {
    .container {
        grid-template-columns: 1.52fr 1fr 1fr 1.525fr;
        grid-template-areas: 'A B C E' 'A D D E';
    }
    .servicios {
        justify-content: center;
    }
    .imagenser {
        text-align: center;
        margin-left: auto;
    }
}*/

/* Pruebas de MEDIA QUERYS
@media (max-width: 479px) {
@media (max-width: 480px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .galeria {
        width: 200px;
        height: 150px;
    }.servicios div ul li p {
        display:flex;
        justify-content:center;
        flex-direction: column;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }

}
@media (max-width: 768px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
    }
    .descripcion {
        width: 300%;
    }
    footer {
        flex-direction: column;
    }
    .galeria {
        width: 200px;
        height: 150px;
    }
    .fondoPortfolio {
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 350px;
    }
}
/*
@media (max-width: 600px) {
    .div1,
    .div2 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .galeria {
        width: 200px;
        height: 150px;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 350px;
    }
}
*/
