* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CSS DEL INDEX*/
/*CSS Menu de Navegacion*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(35, 35, 35);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
nav {
    background-color: rgb(254, 144, 195);
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}
nav ul li {
    margin: 0 10px;
    color: rgb(35, 35, 35);
    display: block;
    position: relative;
    font-size: 18px;
}
nav ul li a {
    color: rgb(35, 35, 35);
    text-decoration: none;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: none;
}
nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.logo {
    height: 90px;
    width: 90px;
}
.navbar-light .navbar-toggler {
    color: rgb(35, 35, 35);
    border-color: rgb(0,0,0);
}
.navbar-toggler:hover {
    text-decoration: none;

}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0;
}
/*CSS del MAIN*/
main {
    display: flex;
    background-color: rgb(255, 212, 224);
    flex-wrap: wrap;
}
section #contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1000px;
}
.titulo {
    margin: 20;
    padding: 20px;
    color: rgb(35, 35, 35);
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    text-align: bottom;
    align-items: center;
    justify-content: flex-end;
}
.div1,
.div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.imageni {
    justify-content: flex-start;
    width: 50%;
}
hr {
    margin: 1px 0;
    color: transparent;
    size: 1px;
    height: 1px;
}
.hola {
    font-size: 45px;
    margin-bottom: 3px;
}
.soyje {
    font-size: 45px;
    margin-bottom: 50px;
}
.descripcion {
    display: block;
    width: 50%;
    justify-content: flex-end;
    padding: 30px;
    font-size: 18px;
    flex-direction: column;
}
p {
    color: rgb(35, 35, 35);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
    align-items: justify;
}
.div2 {
    flex-direction: row-reverse;
}
/* CSS DEL FOOTER*/
.copyright {
    font-size: 12px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    padding: 16px;
    color: rgb(255, 255, 255);
}
footer {
    background-color: rgb(254, 144, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(35, 35, 35);
}
.redes {
    display: flex;
    align-items: center;
}
.redes ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.redes ul li a {
    text-decoration: none;
    color: rgb(35, 35, 35);
    display: block;
    padding: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: none;
    margin-top: 10px;
}
.logofooter {
    height: 60px;
    width: 60px;
}
/*CSS DE QUIEN SOY*/
div h1 {
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    color: rgb(35, 35, 35);
}
.datospersonales {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}
.tituloqs {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    color: rgb(35, 35, 35);
    margin-top: 25px;
    margin-bottom: 25px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
    transition: opacity 0.1s ease;
}
div h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-weight: normal;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.escrito {
    display: flex;
    justify-content: flex-end;
    color: rgb(35, 35, 35);
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.4;
    align-items: justify;
}
/*PORTFOLIO*/
.titulo {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    color: rgb(35, 35, 35);
    margin-top: 25px;
    margin-bottom: 25px;
}
.imagenes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.galeria {
    width: 300px;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s;
    position: relative;
    margin: 20px;
}
.galeria:hover {
    filter: brightness(100%);
    transform: scale(1.2);
    z-index: 2;
}
/*CSS de SERVICIOS*/
.servicios {
    margin: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    color: rgb(35, 35, 35);
    margin-top: 25px;
    margin-bottom: 25px;
}
.ser1,
.ser2,
.ser3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.imagen {
    justify-content: flex-start;
    width: 50%;
}
.descripcions {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 16px;
    font-size: 26px;
    color: rgb(35, 35, 35);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: justify;
    align-items: justify;
}
.ser2 {
    flex-direction: row-reverse;
}
/*CSS de CONTACTO*/
.contacto {
    background-color: rgb(205, 100, 216);
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    margin: 60px;
    flex-wrap: wrap;
    overflow: hidden;
}
.titulocontacto h1 {
    color: white;
    font-size: 60px;
}
.datos {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;
    color: rgb(35, 35, 35);
    text-align: center;
}
.datos1 {
    display: block;
    color: rgb(35, 35, 35);
    width: 100%;
}
.apellido,
.email,
.mensaje,
.nombre,
.telefono {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: rgb(35, 35, 35);
}
label {
    display: flex;
}
input {
    width: 100%;
}
textarea {
    width: 250px;
    height: 100px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.botoncontacto {
    width: 125px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(35, 35, 35);
    background-color: rgb(205, 100, 216);
    color: rgb(255, 255, 255);
}
form {
    background-color: rgb(255, 212, 224);
    padding: 30px;
    margin: 30px;
    width: 450px;
    height: auto;
    border-radius: 7px;
}
@media (max-width: 480px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .redes ul {
        padding: 0;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imageni {
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    .navbar-toggler:hover {
        color: rgb(255, 255, 255);
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 10px;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .descripcions {
        font-size: 20px;
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0;
    }
    .descripcion {
        padding: 16px;
    }
    .galeriaqs {
        width: 250px;
        height: 250px;
    }
    .contacto {
        margin: 20px;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
    .contacto {
        margin: 20px;
        justify-content: center;
    }
    .datospersonales {
        padding: 20px;
    }
    .escrito {
        width: 100%;
    }
}
@media (max-width: 768px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .redes ul {
        padding: 0;
    }
    .navbar-toggler:hover {
        color: rgb(255, 255, 255);
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 12px;
        justify-content: center;
    }
    .descripcion {
        width: 300%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .fondoPortfolio {
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0;
    }
    .descripcion {
        padding: 16px;
    }
    .descripcions {
        font-size: 20px;
        width: 100%;
    }
    .galeriaqs {
        width: 60%;
        height: 60%;
    }
    .contacto {
        margin: 20px;
        justify-content: center;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
    .datospersonales {
        padding: 10px;
    }
    .escrito {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 500px;
    }
    .carousel-inner {
        width: 50%;
        margin: auto;
    }
}
