.logo {
    height: 90px;
    width: 90px;
}
.imageni {
    justify-content: flex-start;
    width: 50%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
    transition: opacity 0.1s ease;
}
.imagenes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.galeria {
    width: 300px;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s;
    position: relative;
    margin: 20px;
    &:hover {
        filter: brightness(100%);
    transform: scale(1.2);
    z-index: 2;
    }
}
.imagen {
    justify-content: flex-start;
    width: 50%;
}
.imageni {
    justify-content: flex-start;
    width: 50%;
}
