@media (max-width: 480px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imageni {
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
    }
    .imagen {
        width: 100%;
        padding: 14px;
        margin: 10px;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .servicios div ul li p {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0px;
    }
    .descripcion {
        padding: 16px;
    }
    .galeriaqs {
        width: 150px;
        height: 150px;
    }
    .contacto {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 14px;
        margin: 10px;
    }
    .descripcion {
        width: 300%;
    }
    footer {
        flex-direction: column;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .fondoPortfolio {
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0px;
    }
    .descripcion {
        padding: 16px;
    }
    .galeriaqs {
        width: 50%;
    }
    .contacto {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 500px;
    }
}
