@media (max-width: 480px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .redes ul {
        padding: 0px;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .imageni {
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 10px;
    }
    .descripcion {
        width: 100%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .descripcions {
        font-size: 20px;
        width: 70%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0;
    }
    .descripcion {
        padding: 16px;
    }
    .galeriaqs {
        width: 250px;
        height: 250px;
    }
    .contacto {
        margin: 20px;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
    .contacto {
        margin: 20px;
        justify-content: center;
    }
    .escrito {
        width: 100%;
    }
}
@media (max-width: 768px) {
    nav ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .redes ul {
        padding: 0px;
    }
    .div1,
    .div2 {
        justify-content: center;
    }
    .ser1,
    .ser2,
    .ser3 {
        justify-content: center;
    }
    .imagen {
        width: 100%;
        padding: 12px;
        justify-content: center;
    }
    .descripcion {
        width: 300%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .galeria {
        width: 300px;
        height: 300px;
    }
    .fondoPortfolio {
        width: 100%;
    }
    .fondoPortfolio {
        max-width: 1000px;
    }
    .redes ul li a {
        padding: 0;
    }
    .descripcion {
        padding: 16px;
    }
    .descripcions {
        font-size: 20px;
        width: 70%;
    }
    .galeriaqs {
        width: 60%;
        height: 60%;
    }
    .contacto {
        margin: 20px;
        justify-content: center;
    }
    .titulocontacto h1 {
        padding: 10px;
    }
    .escrito {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .galeria {
        width: 500px;
        height: 500px;
    }
    .carousel-inner {
        width: 50%;
        margin: auto;
    }
}

