div {
    h1 {
        margin-bottom: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 93, 84);
    }
    h2,h3,h4 {
        font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: normal;
    text-align: justify;
    }
    p {
        font-size: 44px;
    }
}
.textoqs {
    margin-top:20px;
    margin-bottom: 20px;
}

@mixin fuentedeletra {
    font-family: 'Inter', sans-serif;
}
p, .copyright, .redes ul li a {
    @include fuentedeletra;
}